.card1{
   background: linear-gradient(to right, #ffbf96, #fe7096);
   
}
.card2{
    background: linear-gradient(to right, #90caf9, #047edf 99%) 
}
.card3{
    background: linear-gradient(to right, #84d9d2, #07cdae)
}