.main {
  min-height: 60vh;
}
.navbg{
  background: #031789db;
}

.verify-page {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-page form {
  width: 450px;
  margin: auto;
}

.reset-password {
  width: 450px;
  margin: auto;
}
